<!DOCTYPE html>
<html>

  {{> head }}

  <body class="pk-f-grey900 pk-bg-grey50">

    {{> header }}

    <section>

      {{> about }}

      {{> agenda }}

      {{> speakers }}

      {{> sponsors }}

      {{> code_of_conduct }}

      {{> location }}

      {{> contact }}

    </section>
  </body>

</html>
