<section class="pk-pdd-m-all pk-centered" id="about">
  <h2 class="pk-pdd-m-all">¡Meta Betabeers!</h2>

  <section class="pk-grid">
    <section class="pk-col pk-6 et-text">
      <p>En Betabeers Murcia hemos preparado un evento especial, algo que se sale de un Betabeers corriente. Después de participar en varios eventos y meetups, decidimos hacer un Meta Betabeers: con más ponentes, e intentando traer a gente de fuera. ¡Y lo hemos conseguido! Apunta el sábado 21 de octubre en tu calendario, porque no puedes faltar. Las charlas abordarán temas de unit testing en PHP, programación funcional, experiencia de usuario, librerías dinámicas y machine learning. En breves publicaremos la agenda defintiva. ¡No te lo puedes perder!</p>
    </section>
  </section>
</section>
