<section class="pk-pdd-m-all pk-centered" id="agenda">
  <h2 class="pk-pdd-m-all">Agenda 🗓️</h2>

  <section class="pk-grid pk-w70 pk-centered">
    <section class="pk-col pk-6">
      <section class="pk-col-tbl">

        {{!-- Agenda Opcion 5 Charlas --}}
        <table class="pk-tbl et-agenda">
          <thead class="pk-bdr-s-b">
            <td class="pk-w20">🕗</td>
            <td class="pk-w80">Sala Principal</td>
          </thead>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red200">
            <td>8:30</td>
            <td>Apertura de puertas & Networking</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
            <td>9:00</td>
            <td>Bienvenida. Presentación de patrocinadores.</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>9:30</td>
            <td>"Charla de PHP". Mavi (@linkita)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>10:10</td>
            <td>"Charla de testing": Jorge Barroso (@flipper83)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>11:50</td>
            <td>"Charla de C" Pablo Marcos (@pablomarc0os)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red400">
            <td>12:30</td>
            <td>Café & Networking</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>13:00</td>
            <td>"Charla de Datos". Bea (@chucheria)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>13:40</td>
            <td>"Charla de Programación Funcional". Diego Freniche (@dfreniche)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
            <td>14:20</td>
            <td>"Charla de usuarios senior" Rosario (@RoUploaded)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
            <td>14:30</td>
            <td>Cierre del evento</td>
          </tr>
        </table>

        {{!-- Agenda Opción 4 Charlas --}}
        {{!-- <table class="pk-tbl et-agenda">
          <thead class="pk-bdr-s-b">
            <td class="pk-w20">🕗</td>
            <td class="pk-w80">Sala Principal</td>
          </thead>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red200">
            <td>8:30</td>
            <td>Apertura de puertas & Networking</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
            <td>9:00</td>
            <td>Bienvenida. Presentación de patrocinadores.</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>9:30</td>
            <td>"Charla de PHP". Mavi (@linkita)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>10:20</td>
            <td>"Charla de testing": Jorge Barroso (@flipper83)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red400">
            <td>12:10</td>
            <td>Café & Networking</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>12:40</td>
            <td>"Charla de Datos". Bea (@chucheria)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red100">
            <td>13:30</td>
            <td>"Charla de Programación Funcional". Diego Freniche (@dfreniche)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
            <td>14:20</td>
            <td>"Charla de usuarios senior" Rosario (@RoUploaded)</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
            <td>14:30</td>
            <td>Cierre del evento</td>
          </tr>
        </table> --}}
      </section>
    </section>
  </section>
</section>
