<section class="pk-pdd-m-all pk-centered" id="agenda">
  <h2 class="pk-pdd-m-all">Agenda 🗓️</h2>

  <section class="pk-grid pk-w70 pk-centered">
    <section class="pk-col pk-6">
      <table class="pk-tbl et-agenda">
        <thead class="pk-bdr-s-b">
          <td class="pk-w20">🕗</td>
          <td class="pk-w80">Sala Principal</td>
        </thead>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red200">
          <td>8:30</td>
          <td>Apertura de puertas</td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
          <td>9:00</td>
          <td>Bienvenida</td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red200">
          <td>09:10</td>
          <td>
            <p><span class="et-talk-title">"Clean Code con Unit Testing"</span>, por Mavi Jiménez.</p>
            <p>"En la comunidad de software es muy común hablar por un lado de clean code a la hora de programar, y de blindar nuestro código con un buen testing por el otro. Pero en realidad, no deberían ser  conceptos separados. El clean code también debe estar presente a la hora de testear. El buen testing no es sólo coverage."</p>
          </td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
          <td>09:55</td>
          <td>Jorge Barroso</td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red200">
          <td>10:40</td>
          <td>
            <p><span class="et-talk-title">"Cuando estés en líos con librerías dinámicas, ¡dame un silbidito!"</span>, por Pablo Marcos.</p>
            <p>"Todos usamos librerías a diario. ¿Pero realmente entendemos las diferencias entre librerías estáticas y dinámicas? En la charla explicaremos cómo crear y usar librerías dinámicas en C desde 0. Analizaremos qué implicaciones tiene usarlas, tanto a nivel de usabilidad como de seguridad."</p>
          </td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
          <td>11:25</td>
          <td>Almuerzo & Networking</td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red200">
          <td>11:55</td>
          <td>
            <p><span class="et-talk-title">"Usuarios Senior"</span>, por Rosario Belinchón.</p>
            <p>"En esta charla, os contaré cómo empecé a utilizar el ordenador, mis herramientas de trabajo y cómo uso la tecnología en mi día a día."</p>
          </td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
          <td>12:10</td>
          <td>
            <p><span class="et-talk-title">"Magenta es un color especial"</span>, por Bea Hernández.</p>
            <p>"¿Cómo llegamos de datos a hacer música? Gracias a la librería de Google Magento, podemos entrenar redes neuronales que nos ayuden a componer. Un repaso desde los datos a entrenar el modelo, lo necesario para ponernos manos a la obra nosotros mismos."</p>
          </td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red200">
          <td>12:55</td>
          <td>
            <p><span class="et-talk-title">"Introducción muy, muy sencilla a programación funcional con trucos para usar en el día a día."</span>, por Diego Freniche.</p>
            <p>"Has aprendido a programar. Las cosas te funcionan. Lees sobre Orientación a Objetos y sobre Patrones de Diseño. Y ahora, de pronto, te vienen con esto de la Programación Funcional. ¿Es algo nuevo? ¿Me sirve de algo? ¿En el mundo real, en el día a día? Si eres un programador Orientado a Objetos y quieres ver ejemplos sencillos y reales de usos de la programación funcional, sin mencionar monads ni functors, ésta es tu charla".</p>
          </td>
        </tr>
        <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-red300">
          <td>13:45</td>
          <td>Presentación de patrocinadores y cierre del evento</td>
        </tr>
      </table>
    </section>
  </section>
</section>
