<section class="pk-pdd-m-all" id="coc">
  <h2 class="pk-centered pk-pdd-l-all">C칩digo de Conducta 游눒</h2>

  <section class="pk-grid pk-pdd-l-all">
    <section class="pk-col pk-6 et-code-of-conduct">
      <p>En la comunidad tecnol칩gica de Murcia siempre tenemos buen rollo y nos queremos mucho, pero creemos que todos los eventos deber칤an incluir un c칩digo de conducta. 칄ste est치 basado en <a href="http://es.confcodeofconduct.com/">Code of Conduct (ES)</a> y en <a href="https://www.contributor-covenant.org/es/version/1/4/code-of-conduct">Contributor Covenant Code of Conduct</a>. Muchas gracias al <a href="https://twitter.com/eletorro/status/914111493653897217">feedback recibido</a> sobre este apartado.</p>

      <p>Se requiere que todos los asistentes, ponentes, patrocinadores y voluntarios de nuestra conferencia acepten el siguiente c칩digo de conducta. Los organizadores har치n cumplir este c칩digo a lo largo del evento. Esperamos la colaboraci칩n de todos los
        participantes para ayudar a asegurar un ambiente seguro para todos.</p>

      <p>Resumiendo: Sean excelentes los unos con los otros.</p>

      <h3>쯅ecesitas ayuda?</h3>

      <p>En el apartado de <a href="#contact">contacto</a> informamos c칩mo contactar con nosotros, y tambi칠n a trav칠s de este <a href="mailto:elenatorro@gmail.com?Subject=Codigo%20Conducta%20Betabeers">email.</a></p>

      <h3>La Versi칩n Corta</h3>

      <p>Nuestra conferencia se dedica a ofrecer una experiencia libre de abusos para todos, independientemente de su g칠nero, orientaci칩n sexual, discapacidad, apariencia f칤sica, talla, raza o religi칩n. No toleramos abusos de los participantes de la conferencia
        en ninguna de sus formas. El lenguaje e im치genes sexuales no son apropiados para ninguna sala de la conferencia, incluyendo charlas, talleres, fiestas, Twitter y otros medios online. Los participantes de la conferencia que violen estas reglas
        pueden ser sancionados o expulsados de la misma a discreci칩n de los organizadores.</p>

      <h3>La Versi칩n Menos Corta</h3>

      <p>Ejemplos de comportamiento que contribuyen a crear un ambiente positivo:</p>
      <ul class="et-list">
        <li>Uso de lenguaje amable e inclusivo.</li>
        <li>Respeto a diferentes puntos de vista y experiencias.</li>
        <li>Aceptaci칩n de cr칤ticas constructivas.</li>
        <li>Respeto durante las charlas y en las rondas de preguntas.</li>
        <li>Enfocarse en lo que es mejor para los asistentes.</li>
        <li>Mostrar empat칤a a otros miembros de la comunidad.</li>
      </ul>

      <p>Ejemplos de comportamiento inaceptable por participantes:</p>
      <ul class="et-list">
        <li>Comentarios ofensivos relativos a g칠nero, orientaci칩n sexual, discapacidad, apariencia f칤sica, talla, raza o religi칩n.</li>
        <li>Im치genes de contenido sexual en espacios p칰blicos.</li>
        <li>Im치genes no consentidas por otro asistente, sean del tipo que sean.</li>
        <li>Intimidaci칩n deliberada, acoso o persecuci칩n (p칰blico o privado)</li>
        <li>Interrupciones continuadas de charlas.</li>
        <li>Contacto f칤sico inapropiado.</li>
        <li>Otros tipos de conducta que pudieran considerarse inapropiadas en un entorno profesional.</li>
      </ul>

      <p>Se espera que los participantes instados a parar cualquier comportamiento abusivo obedezcan inmediatamente.</p>

      <p>Los patrocinadores tambi칠n est치n sujetos a la pol칤tica contra abusos. En particular, los patrocinadores no deber칤an utilizar im치genes, actividades u otro material con contenido sexual. El personal de los puestos (voluntarios incluidos) no deber칤a usar ropa/uniformes/disfraces sexualizados, o que de otra manera crean un ambiente sexualizado.</p>

      <p>Si un participante incurre en un comportamiento abusivo, los organizadores de la conferencia pueden tomar cualquier acci칩n que estimen oportuna, incluyendo advertencias al ofensor o su expulsi칩n de la conferencia.</p>

      <p>Si est치s sufriendo alg칰n abuso, adviertes abusos sobre otra persona, o tienes alguna otra preocupaci칩n, por favor contacta con alg칰n miembro del personal de la conferencia inmediatamente. El personal de la conferencia puede ser f치cilmente identificado, ya que vestir치n camisetas del evento.</p>

      <p>El personal de la conferencia estar치 contento de ayudar a los participates a contactar con la seguridad de la sala o con las autoridades locales, proveer escolta o asistir de otra manera a aquellos que est칠n sufriendo abusos para que se sientan seguros mientras dure la conferencia. Valoramos tu asistencia.</p>

      <p>Esperamos que los participantes sigan estas reglas en la la conferencia, talleres y eventos sociales relacionados con la conferencia.</p>

      <p>Si tienes alg칰n problema, puedes reportarlo a este <a href="mailto:elenatorro@gmail.com?Subject=Codigo%20Conducta%20Betabeers">email.</a></p>
    </section>
  </section>
</section>
