<section class="pk-pdd-m-all pk-centered" id="contact">
    <h2 class="pk-pdd-l-tb pk-centered">Contacto ✉️</h2>

  <section class="pk-grid pk-w70 pk-centered">
    <section class="pk-col pk-6">
      <section class="pk-col-tbl">
        <p>Escríbenos a <a href="https://twitter.com/betabeersMUR">@BetabeersMur</a> o envíanos un correo a <a href="mailto:elenatorro@gmail.com?Subject=BetabeersMur">betabeersmur@gmail.com</a></p>
      </section>
    </section>
  </section>
</section>
