<section class="pk-pdd-m-all pk-centered" id="contact">
    <h2 class="pk-pdd-l-tb pk-centered">Contacto ✉️</h2>

  <section class="pk-grid pk-w70 pk-centered">
    <section class="pk-col pk-6">
      <section class="pk-col-tbl">
        <p>Escríbenos a <a href="https://twitter.com/betabeersMUR">@BetabeersMur</a> o envíanos un correo a <a href="mailto:elenatorro@gmail.com?Subject=BetabeersMur">betabeersmur@gmail.com</a>, o contacta con los organizadores a través de Twitter.</p>
      </section>
    </section>
    <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
      <a href="https://twitter.com/eletorro"><img src="./assets/images/org_elena_torro.jpg" class="et-org-img" alt="Elena Torro, organizadora"></a>
      <a href="https://twitter.com/eletorro">Elena Torró</a>
    </section>
    <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
      <a href="https://twitter.com/jaespinmora"><img src="./assets/images/org_jose_espin.jpg" class="et-org-img" alt="Jose Antonio Espín, organizador"></a>
      <a href="https://twitter.com/jaespinmora">Jose Antonio Espín</a>
    </section>
  </section>
</section>
