<section class="pk-pdd-m-all pk-centered" id="speakers">
  <h2 class="pk-pdd-m-all">Ponentes 🎤</h2>
  <section class="pk-grid pk-mg-l-tb">
    <section class="pk-row">

      {{!--  Mavi --}}
      <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
        <a href="https://www.linkedin.com/in/mavijimenez"><img src="./assets/images/ponentes_mavi_linkita.jpg" class="et-speaker-img pk-bdr-l-all pk-bdr-red800" alt="Mavi"></a>
        <h3><a href="https://www.linkedin.com/in/mavijimenez">Mavi Jiménez</a></h3>
        <p>PHP Backend Developer en Holaluz. Tengo un gato que se llama Vagrant y hago cosas en WomenWhoCode Barcelona.</p>
      </section>

      {{!--  Jorge Barroso --}}
      <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
        <a href="https://twitter.com/flipper83"><img src="./assets/images/ponentes_jorge_barroso.jpg" class="et-speaker-img pk-bdr-l-all pk-bdr-red800" alt="Jorge Barroso"></a>
        <h3><a href="https://twitter.com/flipper83">Jorge Barroso</a></h3>
        <p>Theoretical Developer en @gokarumi , Android GDE, cagado de un Olivo en Manchita provincia de Madrid. Suya es la gran frase: Camarero otro tintito</p>
      </section>

      {{!--  Diego Freniche --}}
      <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
        <a href="https://twitter.com/dfreniche"><img src="./assets/images/ponentes_diego_freniche.jpg" class="et-speaker-img pk-bdr-l-all pk-bdr-red800" alt="Diego Freniche"></a>
        <h3><a href="https://twitter.com/dfreniche">Diego Freniche</a></h3>
        <p>Computer nerd, retrocomputer collector, Amstrad & Amiga lover, iOS/Android developer. Sometimes speak at places. 100% FrauDev™</p>
      </section>

      {{!--  Bea Hernández --}}
      <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
        <a href="https://twitter.com/chucheria"><img src="./assets/images/ponentes_bea_hernandez.jpg" class="et-speaker-img pk-bdr-l-all pk-bdr-red800" alt="Bea Hernández"></a>
        <h3><a href="https://twitter.com/chucheria">Bea Hernández</a></h3>
        <p>Data Scientist @DatMean donde trabaja con tecnologías Deep Learning y visualización de datos aplicado a la publicidad online. En su tiempo libre co-organiza R-Ladies Madrid, una rama local de la comunidad global de R en la que se fomenta la diversidad de género en los campos STEM y en concreto en la comunidad de R. #NASADATANAUT</p>
      </section>

      {{!--  Pablo Marcos --}}
      <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
        <a href="https://twitter.com/pablomarc0s"><img src="./assets/images/ponentes_pablo_marcos.jpg" class="et-speaker-img pk-bdr-l-all pk-bdr-red800" alt="Pablo Marcos"></a>
        <h3><a href="https://twitter.com/pablomarc0s">Pablo Marcos</a></h3>
        <p>Software Developer en Toptal, anteriormente en Intel. Ha hecho desde desarrollo de protocolos de comunicaciones móviles hasta drivers para Linux, pasando por aplicaciones de escritorio. Apasionado del desarrollo de videojuegos y el bajo nivel.</p>
      </section>

      {{!--  Rosario Belinchón --}}
      <section class="pk-col pk-2 pk-pdd-l-all pk-centered">
        <a href="https://twitter.com/rouploaded"><img src="./assets/images/ponentes_rosario_uploaded.jpg" class="et-speaker-img pk-bdr-l-all pk-bdr-red800" alt="Rosario"></a>
        <h3><a href="https://twitter.com/rouploaded">Rosario Belinchón</a></h3>
        <p>👵 Abuela 2.0. Usuaria de tecnología autodidacta. Trabajé en el Ministerio de Agricultura durante años, y al jubilarme, descubrí mi pasión por los ordenadores y la tecnología. He tenido cuentas premium en MegaUpload y Uploaded. Ahora tengo el prime de Amazon, Netflix, y compro tanto en AliExpress que hasta me hacen regalos.</p>
      </section>

    </section>
  </section>
</section>
